version: "3.9"

services:
  mysql:
    image: mysql:8.0
    container_name: mysql_bicicleteria
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: 123456789
      MYSQL_DATABASE: bicicleteria_db
      MYSQL_USER: bicicleteria_user
      MYSQL_PASSWORD: bicicleteria_pass
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  app:
    build: .
    container_name: bicicleteria-system
    restart: always
    ports:
      - "3000:3000"
    env_file:
      - .env
    environment:
      NODE_ENV: production
      DB_HOST: mysql
    depends_on:
      - mysql

volumes:
  mysql_data:
