version: "3.9"

services:
  mysql:
    image: mysql:8.0
    container_name: mysql_bicicleteria
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_PASS}
      MYSQL_DATABASE: ${DB_NAME}
    ports:
      - "${DB_PORT}:3306"
    volumes:
      - mysql_data:/var/lib/mysql
      - ./bicicleteria_db.sql:/docker-entrypoint-initdb.d/bicicleteria_db.sql
  app:
    build: .
    container_name: bicicleteria-system
    restart: always
    ports:
      - "${APP_PORT}:3000"
    env_file:
      - .env
    environment:
      NODE_ENV: production
      DB_HOST: mysql
    depends_on:
      - mysql

volumes:
  mysql_data:
